

#footer  {
 position: relative;   
 height:70px;
 clear:both;
 margin-top:-150px;
 width: 1000px;
 border-bottom: solid 1px  ; color: #e5e5e5;

} 
.navi ul li a { 
width:200px;
text-align:left;
margin-left:100px;
text-decoration: none;
color: black;

    }
.social-media-icons ul li {  
     float: right;
    position: relative;
    display:inline;
    bottom: 50px;
    right: 100px;
    /*width: 800px;*/

    break-after: 10px;
    padding: 0px 10px ;
   

}
.footer-copyright p{
   text-align: center;
   color: black; 

}
ul{ list-style: none;
 }
